:root {
  --bg-sub: hsl(0, 0%, 20%);
  --bg-main: hsl(0, 0%, 5%);
  --text: white;
  --border: hsl(0, 0%, 12%);
  --border-light: hsl(0, 0%, 20%);
}

@media (max-width: 600px) {
  .setup {
    width: 330px;
  }
}
@media (min-width: 601px) {
  .setup {
    width: 430px;
  }
}

dialog#updateInfo {
  width: 400px;
}
dialog#löschen {
  gap: 8px;
}
dialog#löschen button {
  width: calc(100% - 10px);
}

.stundenInput {
  width: 60px !important;
  height: 26px;
  padding: 2px;
  border-radius: 20px;
  text-align: center;
}

.colorRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 360px;
  margin: auto;
}
.colorSelect {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 100px;
  height: 30px;
  margin: 5px;

  align-content: center;
}

.colorSelect input {
  width: calc(50% - 5px);
  margin: 0;
  text-align: center;
  border-radius: 15px 0 0 15px;
}
.farbInput {
  width: calc(50% - 5px) !important;
  height: 30px;
  padding: 0;
  margin-left: 5px;
  background-color: var(--bg-sub);
  border-radius: 0 15px 15px 0 !important;
}

/*stundenplan

*/

.woche {
  display: flex;
  background-color: var(--bg-main);
  width: 100%;
  margin-bottom: 100px;
}
.tag {
  min-width: 160px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  flex-grow: 1;
  flex-basis: 0;
  transition: 500ms;
}
@media (max-width: 500px) {
  .woche {
    flex-direction: column !important;
    flex-wrap: nowrap;
  }
  .tag {
    width: 100%;
    max-width: 500px !important;
  }
}
@media (max-width: 800px) {
  .woche {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .tag {
    max-width: 250px;
  }
}
@media (min-width: 801px) {
  .woche {
    display: flex;
    flex-direction: row;
  }
  .tag {
    min-width: 160px;
    flex-grow: 1;
  }

  .tag:focus-within {
    flex-grow: 2;
    transition: 500ms;
  }
}
h2 {
  color: var(--text);
  text-align: center;
  font-size: 28px;
  margin: 0;
  padding: 0;
  width: auto;
}

.fach {
  padding: 0;
  width: calc(100% - 12px);

  background-color: var(--bg-main);
  margin: 6px !important;
  border: none !important;
}
.halbesFach {
  border-radius: 12px;
  display: flex;

  padding: 2.5px;
  background-color: var(--bg-sub);
  border: 1.5px solid var(--bg-sub);
}

input {
  height: 24px;
  margin: 2.5px;
  padding: 2px;

  font-size: 14px;

  opacity: 0.85;
  border-radius: 15px;
  border: none;
}
.HAinput {
  height: 24px;
  width: calc(100% - 80px);
  margin: 2.5px;
  padding: 2px;

  font-size: 14px;

  background-color: hsla(0, 0%, 100%, 0.95);
  border-radius: 15px;
}
.fachInput {
  width: 24px;
  margin: 2.5px;
  text-align: center;
}

.remove {
  height: 30px;
  width: 30px;

  margin: 2.5px;
  padding: 5px !important;

  border-radius: 15px;

  text-align: center;
  color: white;
  background-color: red;
  font-weight: 900;
  line-height: 20px;
  border: none;
  box-shadow: black 0 0 2px;

  transition: all 500ms;
}
.remove:hover {
  background-color: var(--bg-sub);
  color: red;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0) 0 0 2px;
  text-shadow: 0 0 10px black;

  transition: all 500ms;
}
