* {
  margin: 0;
  padding: 0;
}
html {
  font-family: "Roboto", sans-serif;
  background-color: black;
  color: white;
}

header {
  display: flex;
  background-color: black;
  padding: 5px;
}
body {
  background-color: #1f1f1f;
}
footer {
  display: flex;
  background-color: black;
  color: wheat;
  font-size: 15px;
  margin: 0;
  padding: 20px;

  position: relative;
  bottom: 0;

  gap: 50px;
}

.main {
  padding: 5px;
  margin: 5px;
}

.wheatLineTop {
  border-top: 3px solid wheat;
}
.wheatLineBottom {
  border-bottom: 3px solid wheat;
}

/*buttons
*/
.speichern {
  height: 40px;
  margin: 5px;
  padding: 5px 10px 5px 10px;
  text-align: center;
  color: white;
  background-color: green;
  font-weight: 900;
  border: none;
  border-radius: 20px;
}
.löschen {
  height: 40px;
  margin: 5px;
  padding: 5px 10px 5px 10px;
  text-align: center;
  color: white;
  background-color: red;
  font-weight: 900;
  border: none;
  border-radius: 20px;
}
/* X-Butten ist unten nach dem HA input
*/

/*settings
*/
details {
  display: inline;
}
details summary:hover {
  color: red;
}
summary {
  cursor: pointer;
  width: auto;
  display: inline;
}
.setup {
  background-color: #111111;
  padding: 5px;
  border: 3px wheat solid;
  width: auto;
}

.stundenInput {
  width: 85px !important;
}
/*stundenplan

*/

.woche {
  display: flex;
  flex-wrap: wrap;
  background-color: #1f1f1f;
}
.tag {
  width: 220px;
}
h1 {
  color: white;
  text-align: center;
  font-size: 40px;
  margin: 0;
  padding: 0;
}

.fach {
  padding: 0;
  width: 210px;

  background-color: black;
  box-shadow: 0 0 5px white !important;
  margin: 5px !important;
  border-radius: 8px !important;
}
.fach input {
  box-shadow: 0 0 5px white !important;
  opacity: 80%;
}
.halbesFach {
  border-radius: 8px;
}

input {
  height: 40px;
  width: 150px;
  margin: 5px;

  position: relative;
  top: 0px;
  left: 0px;

  opacity: 0.8;
  border-radius: 10px;
  border: none;
}
.remove {
  height: 40px;
  width: 40px;

  position: relative;
  top: 0px;
  right: 0px;

  border-radius: 50%;

  text-align: center;
  color: white;
  background-color: red;
  font-weight: 900;
  border: none;

  transition: all 1s;
}
.remove:hover {
  background-color: black;
  color: red;
  box-shadow: inset 0 0 15px;
  transition: all 1s;
}
