:root {
  --bg-main: hsl(0, 0%, 12%);
  --bg-sub: black;
  --text: white;
  --text-2: wheat;
}

* {
  margin: 0;
  padding: 0;
}
html {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-sub);
  color: var(--text);
}

header {
  display: flex;
  flex-wrap: nowrap;
  background-color: var(--bg-sub);
  padding: 5px;
}
@media (max-width: 400px) {
  header {
    flex-direction: column;
  }
}
@media (min-width: 401px) {
  header {
    flex-direction: row;
    height: 40px;
  }
}

body {
  min-height: calc(100vh - 80px);
  background-color: var(--bg-main);
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  background-color: var(--bg-sub);
  color: var(--text-2);
  font-size: 15px;
  margin: 0;
  padding: 20px 0 20px 0;
  width: 100%;
  height: 40px;

  position: relative;
  bottom: 0;
}
@media (min-width: 800px) {
  footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
  }
}
.main {
  padding: 5px;
  margin: 5px;
}

.wheatLineTop {
  border-top: 3px solid var(--text-2);
}
.wheatLineBottom {
  border-bottom: 3px solid var(--text-2);
}

/*buttons
*/
button {
  height: 30px;
  margin: 5px;
  padding: 5px;
  border-radius: 15px;

  text-align: center;
  font-weight: 900;
  border: none;
  text-wrap: none;
}
button:hover {
  cursor: pointer;
}

.speichern {
  color: white;
  background-color: green;
}
.löschen {
  color: white;
  background-color: red;
}
.showSetup {
  color: white;
  background-color: blue;
}
.closeSetup {
  width: 80px;
  color: white;
  background-color: green;

  position: relative;
  top: 0px;
}
/* X-Butten ist unten nach dem HA input
*/

/*setup
*/

dialog {
  background-color: var(--bg-main);
  color: var(--text);
  padding: 15px;
  margin: auto;
  border-radius: 15px;
  align-items: center;
  align-content: center;
  text-align: center;

  border: none;
  box-shadow: 0 0 8px var(--text-2);
}
@media (max-width: 600px) {
  .setup {
    width: 330px;
  }
}
@media (min-width: 601px) {
  .setup {
    width: 430px;
  }
}
dialog::backdrop {
  background: black;
  opacity: 80%;
}
dialog.info {
  width: 330px;
}

.stundenInput {
  width: 40px !important;
  height: 26px;
  padding: 2px;
  border-radius: 20px;
  text-align: center;
}

.colorRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 360px;
  margin: auto;
}
.colorSelect {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 100px;
  height: 30px;
  margin: 5px;

  background-color: var(--bg-sub);
  box-shadow: 0 0 5px var(--text);
  border-radius: 15px;

  align-content: center;
}

.colorSelect input {
  width: calc(100% - 35px);
  margin: 0;
  text-align: center;
}
.farbInput {
  width: 30px !important;
  height: 30px;
  padding: 0;
  margin-left: 5px;
  background-color: var(--bg-sub);
}

/*stundenplan

*/

.woche {
  background-color: var(--bg-main);
  width: 100%;
  margin-bottom: 100px;
}
.tag {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
@media (max-width: 500px) {
  .woche {
    flex-direction: column;
  }
  .tag {
    width: 100%;
    max-width: 500px !important;
  }
}
@media (max-width: 800px) {
  .woche {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .tag {
    max-width: 250px;
  }
}
@media (min-width: 801px) {
  .woche {
    display: flex;
    flex-direction: row;
  }
  .tag {
    width: 20%;
  }
}
h2 {
  color: var(--text);
  text-align: center;
  font-size: 28px;
  margin: 0;
  padding: 0;
}

.fach {
  padding: 0;
  width: 90%;

  background-color: var(--bg-sub);
  box-shadow: 0 0 5px var(--text) !important;
  margin: 5px !important;
  border-radius: 8px !important;
}

input {
  height: 26px;
  width: calc(100% - 80px);
  margin: 2.5px;
  padding: 2px;

  font-size: 14px;

  opacity: 0.85;
  border-radius: 15px;
  border: none;
}
.fachInput {
  width: 26px;
  margin: 2.5px;
  text-align: center;
}
.halbesFach {
  border-radius: 8px;
  display: flex;

  padding: 2.5px;
}

.remove {
  height: 30px;
  width: 30px;

  margin: 2.5px;

  border-radius: 15px;

  text-align: center;
  color: white;
  background-color: red;
  font-weight: 900;
  border: none;
  box-shadow: black 0 0 2px;

  transition: all 1s;
}
.remove:hover {
  background-color: var(--bg-sub);
  color: red;
  box-shadow: inset 0 0 15px;
  transition: all 1s;
}
